html, body, #game-screen {
    height: 100%;

}

* {
    box-sizing: border-box;
    margin: 0;
}

#game-screen, #system-view, #info-view {
    color: #6294ff;
    background-color: black;
}

#system-view {
    position: relative;
    width: 70em;
    height: 50em;
    margin: auto;
}

#info-view {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
}
@media (min-width: 40em) {
    #info-view {
        max-width: 30em;
        height: calc(98% - 4px);
        margin-top: 4px;
        margin-bottom: 2%;
        border: 3px solid #6294ff;
        border-right: none;
        border-radius: 1px;
    }
}
#info-view-top-bar {
    font-size: 1.4em;
}
#info-view-back-button {
    font-weight: bold;
    float: left;
    padding: 0.2em 0.4em;
    transform: scale(-1, 1);
    cursor: default;
}
#info-view-title {
    padding: 0.2em 0;
}

.star, .planet {
    border-radius: 50%;
    position: absolute;
    transform-origin: center;
    translate: -50% -50%;
}

.star {
    height: 10em;
    width: 10em;
    top: 50%;
    left: 50%;
}

.shadow {
    border-radius: 50%;
    transform-origin: center;
    height: 100%;
    width: 100%;
}

.selected::before {
    content: " ";
    border: 0.2em dashed aliceblue;
    position: absolute;
    width: calc(100% + 0.6em);
    height: calc(100% + 0.6em);
    border-radius: 50%;
    margin: -0.5em;
}
